
/*slider*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 30%;
    margin: auto;
}
/*Body*/
body{
    background-color: #DDDDDD;
}
table>tr>td{
    color: ivory
}

.searchsymbol{
    color: white;
}
/*Jumbotron style*/
.jumbotron{
     background-color: #2225ff;
}
.jumbotron h1{
    font-family: 'Carter One' !important;
    color: white; !important;

}
/*Jumbotron style*/

.portfolio-item {
    margin-bottom: 25px;
}

.news{
    width: 70%;
    margin: auto;
    margin-bottom: 25px;
}
.emaanlogofont{
    font-family: 'Barbedor T';
    color: red
}
.emaanlogoquote{
    font-style: italic;
    font-family: Monotype Corsiva;
    color: darkblue;
    margin-top: 0px;
    padding-top: 0px;
}
/*Nav bar style*/
.navbar a{
    color: rgba(0, 5, 103, 1) !important;
    font-weight: bold !important;
}
.navbar a:hover,.navbar a a:hover{
    color: white !important;
    font-weight: bolder !important;
}
.navbar-header a:hover{
    color: rgba(0, 5, 103, 1) !important;
}
.navbar li:hover{
    background-color: purple !important;
}
.navbar li:active{
    background-color: #2225ff !important;
}
/*End Nav bar style*/

/*hr line style*/
hr{
    border: 1px solid #2225ff; !important;
}
/*End hr line style*/

.news-strip{
    background-color: #5cb85c;
    cursor:     pointer;
    color: white;
}