
/*slider*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 30%;
    margin: auto;
}
body{
    background-color: white;
}
table>tr>td{
    color: ivory
}

.searchsymbol{
    color: white;
}

.jumbotron{
     background-color: #99b3ff;
}

.portfolio-item {
    margin-bottom: 25px;
}

.news{
    width: 70%;
    margin: auto;
    margin-bottom: 25px;
}
.gradefont{
    font-family: Barbedor T;
}
.emaanlogofont{
    font-family: 'Barbedor T';
    color: red
}
.emaanlogoquote{
    font-style: italic;
    font-family: Monotype Corsiva;
    color: darkblue;
    margin-top: 0px;
    padding-top: 0px;
}
.navbar a{
    color: rgba(0, 5, 103, 1) !important;
    font-weight: bold !important;
}
.navbar a:hover,.navbar a a:hover{
    color: white !important;
    font-weight: bolder !important;
}
.navbar-header a:hover{
    color: rgba(0, 5, 103, 1) !important;
}
.navbar li:hover{
    background-color: purple !important;
}